/* Reset Sederhana */
* {
  margin: 0;
  padding: 0;
}

/* Background */
body {
  padding: 0;
  background-image: url("../img/pattern.jpg");
}

/* Navbar */
header {
  width: 100%;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-items: center;
  justify-content: center;
}

ul a {
  margin: 15px;
  text-decoration: none;
}

/* Body */
section {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  padding: 25px;
}

h1 {
  text-align: center;
  margin: 20px auto;
}

h3 {
  margin: 15px auto;
}

article {
  border-bottom: 2px solid black;
}

article a {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

/* Footer */
footer {
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0;
  background-color: black;
}
